@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
  background-color: lightcyan;
}

.playground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: 110px 110px 110px;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
}

.cell {
  width: 100px;
  height: 100px;

  margin-top: 10px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  font-family: 'Indie Flower', cursive;

  cursor: pointer;
}

.cell:nth-child(1n) {
  background-color: rgb(173, 216, 230);
}

.cell:nth-child(2n) {
  background-color: rgb(127, 183, 202);
}

.game-status {
  font-size: 48px;
  font-family: 'Indie Flower', cursive;
}

@media only screen and (min-width: 480px) {
  .board {
    display: grid;
    grid-template-columns: 160px 160px 160px;
  }

  .cell {
    width: 150px;
    height: 150px;
  }

  .game-status {
    font-size: 102px;
  }
}